<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%=_("Grace Carey") %></h1>
      <p class="horizontal-decor"><i class="fa fa-cogs"></i></p>
      <p>
        <span><%=_("I'm a creative ")%></span>
        <span class="emphasis"><%=_("full-stack web developer ")%></span>
        <span><%=_("living in NYC.")%></span>
      </p>
      <p><%=_("This is a place for me to showcase some of my work.")%></p>
    </div>
  </div>
</div>

<section class="find-me">
  <h2>Find me</h2>
  <ul>
    <li><a href="https://www.linkedin.com/in/grace-carey-55ba4a55"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="https://github.com/gracecarey"><i class="fa fa-github"></i> Github</a></li>
    <li><a href="http://codepen.io/gracecarey/"><i class="fa fa-codepen"></i> Codepen</a></li>
  </ul>
</section>

<section>
  <ul class="portfolio-item-grid">
    <% for(var i=0; i<portfolio_items.length; i++) {%>
    <li>
<!--    <a href="/portfolio/<%= portfolio_items[i].slug %>" class="image-gradient-dynamic">
 -->    <a href="/portfolio/<%= portfolio_items[i].slug %>" class="image-gradient-dynamic">
            <img src="/images/<%= portfolio_items[i].thumb_url %>"
            alt="<%=portfolio_items[i].title%>">
            <div class="overlay"></div>
            <div class="copy">
              <p><%= portfolio_items[i].title %></p>
            </div>
        </a>
    </li>
    <% } %>
  </ul>
</section>
