<header class="hero">
  <div class="hero-inner">
    <h1><%=_("Grace Carey") %></h1>
    <p class="horizontal-decor-white"><i class="fa fa-cogs"></i></p>
    <div class="hero-copy">
      <p>I'm a creative <em>full-stack web developer</em> living in NYC.</p>
      <p>I build scalable, test-driven applications</p>
      <p>with a focus on usability and maintainability.</p>
    </div>
  </div>
</header>

<section class="grid-container">
  <h3 class="title-horizontal-decor">My work</h3>
  <ul class="portfolio-grid">
    <% for(var i=0; i<portfolio_items.length; i++) {%>
    <li>
      <a href="/portfolio/<%= portfolio_items[i].slug %>" class="panel grid-item">
        <div class="img-container">
          <img src="/images/<%= portfolio_items[i].thumb_url %>" alt="<%=portfolio_items[i].title%>">
        </div>
        <div class="centered-text-container">
          <p class="centered-text"><%= portfolio_items[i].title %></p>
        </div>
      </a>
    </li>
    <% } %>
  </ul>
</section>

