<header class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%=_("Grace Carey") %></h1>
      <p class="horizontal-decor-white"><i class="fa fa-cogs"></i></p>
      <p>
        <span><%=_("I'm a creative ")%></span>
        <span class="emphasis"><%=_("full-stack web developer ")%></span>
        <span><%=_("living in NYC.")%></span>
      </p>
      <p><%=_("This is a place for me to showcase some of my work.")%></p>
    </div>
  </div>
</header>

<section>
  <h3 class="title-horizontal-decor">My work</h3>
  <ul class="portfolio-grid">
    <% for(var i=0; i<portfolio_items.length; i++) {%>
    <li>
      <a href="/portfolio/<%= portfolio_items[i].slug %>" class="panel grid-item">
        <div class="img-container">
          <img src="/images/<%= portfolio_items[i].thumb_url %>" alt="<%=portfolio_items[i].title%>">
        </div>
        <div class="centered-text-container">
          <p class="centered-text"><%= portfolio_items[i].title %></p>
        </div>
      </a>
    </li>
    <% } %>
  </ul>
</section>

